<div id="navbar">
    <ul>
        <li> <span><%= link_to "FSV", "/holidaybird/fsv"%></span> </li>
        <li> <span><%= link_to "RET", "/holidaybird/ret"%></span> </li>
        <li> <span><%= link_to "FSR", "/holidaybird/fsr"%></span> </li>
        <li> <span><%= link_to "CON", "/holidaybird/consumer"%></span> </li>
        <li> <span><%= link_to "Totals", "/holidaybird/totals"%></span> </li>
    </ul>
</div>
<br>
